# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.docx
*.pdf
minion_v1.py
numerology.py
old*
progression*
*.zip
rd2frac.py
scndata
sdrf.py
temp*
tpcudata
twfdata
*.tmp
*.spec

#Files
scndata
sma.txt
tcpomdata
tpcudata
twfdata
tcp.utilities.py
tcp.listener.process.py

# Virtual Environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Environment variables
.env   

# Build and distribution directories
build/
dist/

# Specific test and temporary directories
fpd/ 
test1/
tup/   

# Specific files
